html{
  margin:0;
  background-color: #b8f0ff;
}

body {
  background-color: #e3f3f7;
  color: #333;
  margin: 0;
  font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
  font-family:monospace;
  display: block;
}
h2{
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  font-weight: 2000;
}
img {
  max-width: 100%;
  display: block;
}

.logo {
  font-size: 200%;
  padding: 50px 20px;
  margin: 0 auto;
  max-width: 980px;
}

nav {
  background-color: #000;
  padding: .5em;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: .5em 1em;
}

.photos {
  list-style: none;
  margin: 0;
  padding: 0;
}

.feature {
  width: 200px;
}

/* my code */

nav ul {
  display: flex;
  justify-content: space-between;
}

nav {
  position: sticky;
  top: 0;
}

.feature {
  float: left;
  margin: 0 15px 15px 0;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 25px;
}
.welcome{
  position: relative;  
  background:  #b8f0ff;
  top: 10px;
  left: 10px;
  z-index: 1; 
  display:flex;
  margin-top:2;
  margin-bottom: 0;
  margin-left: 2;
  font-size: 2em;
}
.current{
  color: antiquewhite;
}
.photos {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 1px;  
  grid-auto-rows:minmax(100px, auto);
}

.title {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.page{
  font-family:monospace;
  font-size: 2em;
}
.end{
  display: flex;
  font-family:monospace;;
  justify-content: center;
}

/*屏幕宽度小于800px,改变布局和样式*/
@media screen and (max-width:800px) {
  header {
      padding: 10px 20px;
      flex-direction: column;
  }
  .banner {
      padding: 150px 20px 50px;
      flex-direction: column-reverse;
  }
  .banner .image {
      max-width: 80%;
      margin-left: 0;
  }
  .banner .content h2 {
      font-size: 2em;
  }
}
/*屏幕宽度小于600px,改变布局和样式*/
@media screen and (max-width:600px) {
  header .search {
      width: 100%;
  }
  .banner .image {
      margin-top: 30px;
  }
}

abbr,acronym,address,caption,cite,code,dfn,th,var {
  font-style: normal;
  font-variant: normal;
  font-weight: normal
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}


/* Wrapper */

#wrapper {
  transform: none;
  padding: 0;
  -moz-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

  #wrapper > .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    -webkit-background-size: cover;/* 兼容Webkit内核浏览器如 Chrome和Safari */ 
    -o-background-size: cover;/* 兼容Opera */ 
    zoom: 1; 
    z-index: -1;
  }
  #wrapper.fade-in:before {
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    -moz-transition-delay: 0.75s;
    -webkit-transition-delay: 0.75s;
    -ms-transition-delay: 0.75s;
    transition-delay: 0.75s;
    background: #1e252d;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

  body.is-loading #wrapper.fade-in:before {
    opacity: 1;
  }

  @media screen and (orientation: portrait) {

    body:before {
      background-size: auto 100% ;
    }
  }


/* Intro */

#intro {
  color: #ffffff;
  padding: 8rem 4rem 6rem 4rem ;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: -moz-flex-end;
  -webkit-justify-content: -webkit-flex-end;
  -ms-justify-content: -ms-flex-end;
  justify-content: flex-end;
  -moz-transition: opacity 1s ease, -moz-transform 1s ease;
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  -ms-transition: opacity 1s ease, -ms-transform 1s ease;
  transition: opacity 1s ease, transform 1s ease;
  position: relative;
  cursor: default;
  text-align: center;
  z-index: 1;
  margin-top: -6rem;
  margin-bottom: 3rem;
  min-height: 100vh;
}

  #intro input, #intro select, #intro textarea {
    color: #ffffff;
  }

  #intro a {
    color: #ffffff;
    border-bottom-color: rgba(255, 255, 255, 0.5);
  }

    #intro a:hover {
      border-bottom-color: transparent;
      color: #18bfef !important;
    }

  #intro strong, #intro b {
    color: #ffffff;
  }

  #intro h1, #intro h2, #intro h3, #intro h4, #intro h5, #intro h6 {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    color: #ffffff;
  }

  #intro blockquote {
    border-left-color: #ffffff;
  }

  #intro code {
    background: rgba(255, 255, 255, 0.075);
    border-color: #ffffff;
  }

  #intro hr {
    border-bottom-color: #ffffff;
  }

  #intro input[type="submit"],
  #intro input[type="reset"],
  #intro input[type="button"],
  #intro button,
  #intro .button {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #ffffff;
    color: #ffffff !important;
  }

    #intro input[type="submit"]:hover,
    #intro input[type="reset"]:hover,
    #intro input[type="button"]:hover,
    #intro button:hover,
    #intro .button:hover {
      box-shadow: inset 0 0 0 2px #18bfef;
      color: #18bfef !important;
    }

    #intro input[type="submit"].special,
    #intro input[type="reset"].special,
    #intro input[type="button"].special,
    #intro button.special,
    #intro .button.special {
      background-color: #ffffff;
      box-shadow: none;
      color: #1e252d !important;
    }

      #intro input[type="submit"].special:hover,
      #intro input[type="reset"].special:hover,
      #intro input[type="button"].special:hover,
      #intro button.special:hover,
      #intro .button.special:hover {
        background-color: #18bfef;
      }

  #intro h1 {
    margin-top: 6rem;
    letter-spacing:8px;
    font-size: 6rem;
    line-height: 1;
  }

  #intro p {
    font-size: 1.5rem;
    font-style: italic;
    margin-top: -0.25rem;
    text-align: center;
  }

  #intro + #header {
    margin-top: -20rem;
  }

    #intro + #header .logo {
      -moz-transform: translateY(2rem);
      -webkit-transform: translateY(2rem);
      -ms-transform: translateY(2rem);
      transform: translateY(2rem);
      opacity: 0;
      visibility: hidden;
    }

  #intro.hidden {
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    -moz-transform: translateY(2rem);
    -webkit-transform: translateY(2rem);
    -ms-transform: translateY(2rem);
    transform: translateY(2rem);
    -moz-transition: opacity 0.5s ease, -moz-transform 0.5s ease, visibility 0.5s;
    -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease, visibility 0.5s;
    -ms-transition: opacity 0.5s ease, -ms-transform 0.5s ease, visibility 0.5s;
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
  }

    #intro.hidden + #header .logo {
      -moz-transform: translateY(0);
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }

  body.is-loading #intro {
    -moz-transform: translateY(2rem);
    -webkit-transform: translateY(2rem);
    -ms-transform: translateY(2rem);
    transform: translateY(2rem);
    opacity: 0;
  }

    body.is-loading #intro:not(.hidden) + #header + #nav {
      -moz-transform: translateY(4rem);
      -webkit-transform: translateY(4rem);
      -ms-transform: translateY(4rem);
      transform: translateY(4rem);
      opacity: 0;
    }
  @media screen and (max-width: 1620px){
    #intro{
      margin-top: -2rem;
      margin-bottom: 4rem;
    }
  }
  @media screen and (max-width: 980px) {

    #intro {
      padding: 4rem 4rem 2rem 4rem ;
      margin-top: -2rem;
      margin-bottom: 4rem;
      min-height: 90vh;
    }

      #intro p br {
        display: none;
      }

      #intro + #header {
        margin-top: -14rem;
      }

  }

  @media screen and (max-width: 500px) {

    #intro {
      padding: 3rem 2rem 1rem 2rem ;
      min-height: 80vh;
    }

      #intro h1 {
        font-size: 5rem;
        line-height: 1.1;
        margin-bottom: 7rem;
      }

      #intro p {
        font-size: 1rem;
        margin-top: 0rem;
      }

      #intro .actions {
        display: none;
      }

  }
